---
layout: archive
title: "Teaching and Supervision"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<div id="date_last_modified" class="small text-center text-muted mb-4" data-path="_teaching"></div>

{% assign num_theses = site.teaching | where_exp: "post", "post.type contains 'thesis'" | size %}
{% assign num_courses = site.teaching | where_exp: "post", "post.type contains 'course'" | size %}

<div class="text-center">
  <a href="#courses" class="btn btn-sm mx-1 btn-outline-dark">Teaching <span class="badge rounded-pill bg-dark">{{ num_courses }}</span></a>
  <a href="#theses" class="btn btn-sm mx-1 btn-outline-dark">Supervision <span class="badge rounded-pill bg-dark">{{ num_theses }}</span></a>
</div>

<h4 id="theses" class="mt-5">Supervision</h4>

{% for post in site.teaching reversed %}
  {% if post.type contains "thesis" %}
    {% include archive-single-teaching.html %}
  {% endif %}
{% endfor %}

<h4 id="courses" class="mt-5">Teaching</h4>

{% for post in site.teaching reversed %}
  {% if post.type contains "course" %}
    {% include archive-single-teaching.html %}
  {% endif %}
{% endfor %}

