{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <b class="archive__item-title" itemprop="headline">
      {{ title }}
      {% if post.link %}
        <a href="{{ post.link }}"><i class="bi bi-box-arrow-up-right"></i></a>
      {% endif %}
    </b>
        <p>
        {% if post.authors %}
        <span class="archive__item-authors authors">
          {% include authors-list.html post=post %}
          <br>
        </span>
        {% endif %}
        {% if post.type contains "Bachelor" or post.type contains "Undergrad" %}
          {% assign pill-color = "text-primary border border-primary" %}
        {% elsif post.type contains "Master" %}
          {% assign pill-color = "text-danger border border-danger" %}
        {% elsif post.type contains "PhD" %}
          {% assign pill-color = "text-success border border-success" %}
        {% else %}
          {% assign pill-color = "text-secondary border border-secondary" %}
        {% endif %}
        <span class="badge rounded-pill {{pill-color}}">{{ post.type }}</span> 
        {% if post.type contains "thesis" %}
          {% if post.grade %}
            <i>{{ post.venue }}</i>, {{post.location}}, {{ post.date | date: "%Y" }}.
            <br>
            Grade: {{ post.grade }}.
          {% endif %}
          </p>
        {% elsif post.type contains "course" %}
          <i>{{ post.venue }}</i>, {{post.location}}.<br>
          {% assign course_month = post.date | date: "%M" | times: 1 %}
          {% if course_month > 1 and course_month < 8 %}
            Spring
          {% else %}
            Fall
          {% endif %}
          Semester.
          
          {%- assign total_years = 0 -%}
          {%- for date in post.dates -%}
            {% unless forloop.first %}, {% endunless %}
            {% assign start_date = date | first %}
            {% assign end_date = date | last | default: site.time %}
            {% include date.html from=start_date to=end_date format="%Y"%}
            {%- assign start_date = start_date | date: '%s' -%}
            {%- assign end_date = end_date | date: '%s' -%}
            {%- assign secondsSince = end_date | minus: start_date -%}
            {%- assign yearsSince = secondsSince | divided_by: 31536000.0 | ceil -%}
            {%- assign total_years = total_years | plus: yearsSince -%}
          {%- endfor -%}. ({{ total_years }} years)
        {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}
  </article>
</div>
