{% assign types = "article,book,booklet,conference,inbook,incollection,inproceedings,manual,mastersthesis,misc,phdthesis,proceedings,techreport,unpublished" | split: "," %}
{% assign type = post.bibtex | downcase | strip %}
{% if types contains type %}
    {% if site.data.authors contains post.authors[0] %}
        {% assign author_id = post.authors[0] %}
        {% assign author = site.data.authors[author_id] %}
        {% assign author_name = author.name %}
    {% else %}
        {% assign author_name = post.authors[0] %}
    {% endif %}

    {% assign author_last = author_name | split: ", " | first %}
    {% assign author_last = author_last | slugify: "latin" | split: "-" | first | downcase %}
    {% assign year = post.date | date: "%Y" %}
    {% assign first_word = post.title | slugify: "latin" | split: "-" | first | downcase %}

    {% capture bib_title %}{{ post.title }}{% endcapture %}
    {% capture bib_authors %}{% for author in post.authors %}{% if site.data.authors contains author %}{{ site.data.authors[author].name }}{% else %}{{ author }}{% endif %}{% unless forloop.last %} and {% endunless %}{% endfor %}{% endcapture %}
    {% capture bib_a %}{% raw %}{\\'a}{% endraw %}{% endcapture %}
    {% capture bib_e %}{% raw %}{\\'e}{% endraw %}{% endcapture %}
    {% capture bib_i %}{% raw %}{\\'i}{% endraw %}{% endcapture %}
    {% capture bib_o %}{% raw %}{\\'o}{% endraw %}{% endcapture %}
    {% capture bib_u %}{% raw %}{\\'u}{% endraw %}{% endcapture %}
    {% capture bib_A %}{% raw %}{\\'A}{% endraw %}{% endcapture %}
    {% capture bib_E %}{% raw %}{\\'E}{% endraw %}{% endcapture %}
    {% capture bib_I %}{% raw %}{\\'I}{% endraw %}{% endcapture %}
    {% capture bib_O %}{% raw %}{\\'O}{% endraw %}{% endcapture %}
    {% capture bib_U %}{% raw %}{\\'U}{% endraw %}{% endcapture %}
    {% capture bib_authors %}{{ bib_authors | replace: "á", bib_a }}{% endcapture %}
    {% capture bib_authors %}{{ bib_authors | replace: "é", bib_e }}{% endcapture %}
    {% capture bib_authors %}{{ bib_authors | replace: "í", bib_i }}{% endcapture %}
    {% capture bib_authors %}{{ bib_authors | replace: "ó", bib_o }}{% endcapture %}
    {% capture bib_authors %}{{ bib_authors | replace: "ú", bib_u }}{% endcapture %}
    {% capture bib_authors %}{{ bib_authors | replace: "Á", bib_A }}{% endcapture %}
    {% capture bib_authors %}{{ bib_authors | replace: "É", bib_E }}{% endcapture %}
    {% capture bib_authors %}{{ bib_authors | replace: "Í", bib_I }}{% endcapture %}
    {% capture bib_authors %}{{ bib_authors | replace: "Ó", bib_O }}{% endcapture %}
    {% capture bib_authors %}{{ bib_authors | replace: "Ú", bib_U }}{% endcapture %}


    @{{type}}{ {{ author_last }}{{ year }}{{ first_word }},
        title = { {{ bib_title }} },
        author = { {{ bib_authors }} },{% if type == "article" %}
        journal = { {{ post.venue }} },
        volume = { {{ post.volume }} },
        number = { {{ post.number }} },{% else %}
        booktitle = { {{ post.venue }} },{% endif %}{% if post.pages %}
        pages = { {{ post.pages | replace: "--", "-" | replace: "-", "--" }} },{% endif %}
        year = { {{year}} },{% if post.sn %}
        issn = { {{ post.sn }} },{% endif %}{% if post.doi %}
        doi = { {{ post.doi }} },{% endif %}{% if post.publisher %}
        publisher = { {{ post.publisher }} },{% endif %}
    }
{% else %}
    {{ post.bibtex }}
{% endif %}