{%- if include.icon -%}
  {% capture icon %}<i class="{{ include.icon | split: '-' | first}} {{ include.icon }} {{ include.icon_color }}"></i>{% endcapture %}
{%- endif -%}
{% assign max-buttons = include.max-buttons | default: 99999 %}
{% assign button-style = "btn btn-dark rounded-pill text-decoration-none fw-light" %}
{%- if include.url -%}
  {% assign button-counter = button-counter | plus: 1 %}
  {%- if button-counter == max-buttons -%}
    <a href="#" data-bs-toggle="collapse" data-bs-target="#publication-buttons-collapse" aria-expanded="false" aria-controls="publication-buttons-collapse" class="{{ button-style }}"><i class="bi bi-plus-lg"></i>More</a>
    <span class="collapse" id="publication-buttons-collapse">
  {%- endif -%}
  <a href="{{ include.url }}" id="{{ include.id }}" class="{{ button-style }}">{{ icon }}{{ include.text }}</a>
{%- endif -%}